[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-restful = "*"
loguru = "*"
requests = "*"
numpy = "*"
torch = "*"
tqdm = "*"
transformers = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
