[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-restful = "*"
loguru = "*"
requests = "*"
numpy = "*"
torch = "*"
tqdm = "*"
transformers = "*"
locationtagger = "*"
nltk = "*"
types-requests = "*"
mypy = "*"
win32-setctime = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
